version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: todoList
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./todoo_Spring
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8088:8088"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/todoList
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root

  frontend:
    build: ./to_do_react
    depends_on:
      - backend
    ports:
      - "5173:80"

volumes:
  postgres_data:
